body {
}

.login-page {
  display: flex;
  margin-left: 40%;
}

.welcome {
  font-weight: bold;
  font-size: 26px;
  color: #fff;
}

.button {
  background-color: #e67d5d;
}

.label {
  color: #fff;
}
